@charset "UTF-8";
/* Scss Document */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, abbr, address, cite, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, var, b, i, dl, dt, dd, ul, ol, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul, ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

em {
  font-style: normal; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

img, svg {
  font-size: 0;
  line-height: 0;
  vertical-align: bottom; }

a img {
  border: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* General Style
/* --------------------------------------------------- */
a, a:visited, a:active {
  color: #1d2088;
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

html {
  font-size: 62.5%;
  /* 16pxに625%を掛けると100pxになるよ！ */
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  color: #000;
  background: #fff;
  text-align: center;
  line-height: 1;
  font-size: 1.4em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%; }
  @media print, screen and (min-width: 769px) {
    body {
      font-size: 1.6em; } }

img {
  max-width: 100%;
  height: auto; }

/* レスポンシブルimages */
.rpimg {
  width: 100%;
  height: auto; }

/* header                                         
/* --------------------------------------------------- */
@media print, screen and (max-width: 768px) {
  #header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; } }

.header-inner {
  z-index: 99;
  max-width: 1050px;
  text-align: left;
  position: relative;
  padding: 0 2%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #fff;
  height: 60px; }
  @media print, screen and (min-width: 769px) {
    .header-inner {
      height: 96px;
      margin: 0 auto;
      padding: 0; } }

.header-logo {
  width: 290px;
  height: 60px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center; }
  @media print, screen and (min-width: 769px) {
    .header-logo {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      width: 540px;
      height: 96px; } }
  @media print, screen and (max-width: 768px) {
    .header-logo .ut {
      margin-right: 10px; } }

@media print, screen and (max-width: 768px) {
  #cse-search-box {
    background: #fff;
    text-align: center;
    padding: 0.5em 4%;
    border-top: 1px solid #5a493f; } }
@media print, screen and (min-width: 769px) {
  #cse-search-box {
    position: absolute;
    right: 136px;
    top: 50%;
    margin-top: -17px; } }
#cse-search-box #search-box {
  width: 230px;
  height: 35px;
  outline: 0;
  background: #fff;
  border: 1px solid #000; }
#cse-search-box #search-btn {
  background: url("../img/common/search_btn.png") no-repeat;
  border: 0px;
  width: 35px;
  height: 35px; }

.gnav-open .header-inner {
  background: #fff; }

/* Key */
.key-img {
  width: 100%;
  margin: 60px 0 0; }
  @media print, screen and (min-width: 769px) {
    .key-img {
      margin: 0; } }
  .key-img img {
    width: 100%;
    max-width: 1050px; }

/* Key common */
.key-common {
  padding-top: 60px;
  margin: 0 auto 2px;
  background: url("../img/common/key-common-bg.png") no-repeat;
  background-size: cover; }
  @media print, screen and (min-width: 769px) {
    .key-common {
      padding-top: 0; } }
  .key-common .inner {
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 2%;
    height: 96px;
    margin: 0 auto; }
    @media print, screen and (min-width: 769px) {
      .key-common .inner {
        background-size: cover;
        padding: 0 10px;
        max-width: 1070px; } }
    .key-common .inner .ttl {
      font-weight: 500;
      font-size: 2.4rem;
      color: #fff; }
      @media print, screen and (min-width: 769px) {
        .key-common .inner .ttl {
          font-size: 3rem; } }

/* nav                                           
/* --------------------------------------------------- */
.gnav {
  background: #5a493f; }
  @media print, screen and (max-width: 768px) {
    .gnav {
      position: absolute;
      top: 60px;
      right: 0;
      width: 90%;
      text-align: left;
      font-size: 1.3rem;
      z-index: 97;
      display: none; }
      .gnav-open .gnav {
        display: block; } }
  @media print, screen and (min-width: 769px) {
    .gnav {
      width: 100%;
      display: block !important;
      height: auto !important;
      margin-bottom: 2px; } }
  @media print, screen and (max-width: 768px) {
    .gnav .menu {
      overflow: auto;
      height: 100%; } }
  @media print, screen and (min-width: 769px) {
    .gnav .menu {
      max-width: 1050px;
      margin: 0 auto;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between; } }
  .gnav .menu li {
    line-height: 1;
    position: relative; }
    .gnav .menu li a:link, .gnav .menu li a:visited, .gnav .menu li a:hover, .gnav .menu li a:active {
      text-decoration: none; }

@media print, screen and (max-width: 768px) {
  .gnav .menu > li {
    border-bottom: 1px solid #fff; } }
.gnav .menu > li > a, .gnav .menu > li > .atag {
  cursor: pointer;
  background: #5a493f;
  color: #fff; }
  .gnav .menu > li > a:hover, .gnav .menu > li > .atag:hover {
    background: #6c5242; }
  @media print, screen and (max-width: 768px) {
    .gnav .menu > li > a, .gnav .menu > li > .atag {
      display: block;
      padding: 1.5em 1em 1.5em; } }
  @media print, screen and (min-width: 769px) {
    .gnav .menu > li > a, .gnav .menu > li > .atag {
      display: inline-block;
      position: relative;
      overflow: hidden;
      padding: 0 1em;
      height: 54px;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; } }
.gnav .menu > li.current-menu-item > a, .gnav .menu > li.current-menu-item > span, .gnav .menu > li.current-menu-parent > a, .gnav .menu > li.current-menu-parent > span, .gnav .menu > li.child-open > a, .gnav .menu > li.child-open > span, .gnav .menu > li.child-btn-hover > a, .gnav .menu > li.child-btn-hover > span {
  cursor: default;
  background: #6c5242;
  color: #fff; }
.gnav .menu > li.current-menu-parent > a, .gnav .menu > li.current-menu-parent > span {
  cursor: pointer; }

.gnav .sub-menu {
  display: none; }
  @media print, screen and (min-width: 769px) {
    .gnav .sub-menu {
      position: absolute;
      top: 54px;
      left: 0;
      display: none;
      white-space: nowrap;
      z-index: 10;
      min-width: 160px; } }
  .gnav .sub-menu li {
    text-align: left; }
    @media print, screen and (min-width: 769px) {
      .gnav .sub-menu li {
        display: block;
        vertical-align: top;
        position: relative; } }
    .gnav .sub-menu li a {
      display: block;
      background: #83614c;
      color: #fff;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media print, screen and (max-width: 768px) {
        .gnav .sub-menu li a {
          padding: 1.5em 54px 1.5em 2em; } }
      @media print, screen and (min-width: 769px) {
        .gnav .sub-menu li a {
          padding: 1em 54px 1em 1em;
          position: relative; } }
      .gnav .sub-menu li a:hover {
        background: #6c5242; }
      .gnav .sub-menu li a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 2%;
        background: #fff;
        height: 1px;
        width: 96%; }
        @media print, screen and (min-width: 769px) {
          .gnav .sub-menu li a:after {
            left: 5%;
            width: 90%; } }
    .gnav .sub-menu li:last-child a:after {
      display: none; }
    .gnav .sub-menu li.child-open a {
      background: #6c5242; }

.gnav .sub-menu2 {
  display: none; }
  @media print, screen and (max-width: 768px) {
    .gnav .sub-menu2 {
      position: relative; }
      .gnav .sub-menu2:after {
        content: "";
        position: absolute;
        top: 0;
        left: 2%;
        background: #fff;
        height: 1px;
        width: 96%; }
      .gnav .sub-menu2 a {
        padding-left: 4em !important; } }
  @media print, screen and (min-width: 769px) {
    .gnav .sub-menu2 {
      position: absolute;
      top: 0;
      left: 100%; } }

@media print, screen and (max-width: 768px) {
  .lang-select {
    display: block !important; } }
@media print, screen and (min-width: 769px) {
  .lang-select {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.75em; } }
.lang-select span {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  color: #5cc2cf;
  font-weight: 500;
  border-bottom: 2px solid #5cc2cf; }
  @media print, screen and (max-width: 768px) {
    .lang-select span {
      display: block;
      text-align: center;
      width: 100%;
      padding: 1.5em 0 1.5em 20px;
      background: #fff; } }
  @media print, screen and (min-width: 769px) {
    .lang-select span {
      display: inline-block;
      padding-bottom: 0.5em;
      width: 120px; }
      .lang-select span:hover {
        opacity: 0.7; } }
  .lang-select span::before {
    content: '';
    width: 6px;
    height: 6px;
    border: 0px;
    border-top: solid 2px #5cc2cf;
    border-right: solid 2px #5cc2cf;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -6px; }
.lang-select .child {
  display: none; }
  @media print, screen and (min-width: 769px) {
    .lang-select .child {
      margin-top: 2px; } }
  .lang-select .child a {
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    background: #5cc2cf;
    padding: 1.5em 1em;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media print, screen and (min-width: 769px) {
      .lang-select .child a {
        padding: 0.8em 1em;
        width: 120px; } }
    .lang-select .child a:hover {
      background: #2bbcce; }
  .lang-select .child li:nth-child(n+2) {
    border-top: 1px solid #fff; }

/* ハンバーガーメニューボタン */
.nav_toggle {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: #5a493f;
  cursor: pointer;
  z-index: 999; }
  @media print, screen and (min-width: 769px) {
    .nav_toggle {
      display: none; } }

.ellipsis-v {
  position: relative;
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px; }
  .ellipsis-v .point {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    margin: auto;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .ellipsis-v .point.top {
      top: 0; }
    .ellipsis-v .point.mid {
      top: 0;
      bottom: 0; }
    .ellipsis-v .point.bot {
      bottom: 0; }

.gnav-open .top {
  width: 40px;
  height: 1px;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.gnav-open .ellipsis-v .point.top {
  top: 0;
  left: 2px; }
.gnav-open .mid {
  opacity: 0; }
.gnav-open .bot {
  width: 40px;
  height: 1px;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 2px; }

.closeBtn {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 20px auto;
  position: relative;
  cursor: pointer; }
  .closeBtn span:before, .closeBtn span:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    margin: -8% 0 0 -42%;
    background: #666666; }
  .closeBtn span:before {
    transform: rotate(-45deg); }
  .closeBtn span:after {
    transform: rotate(45deg); }

@media print, screen and (max-width: 768px) {
  /* overlay */
  .overlay {
    content: '';
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .gnav-open .overlay {
      visibility: visible;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.7);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      z-index: 10; }
    .overlay:after {
      content: "";
      visibility: hidden;
      osition: fixed;
      top: 40%;
      left: 0;
      display: block;
      width: 100%;
      height: 50px;
      color: rgba(255, 255, 255, 0);
      font-size: 40px;
      font-weight: 500;
      text-align: center;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
    .gnav-open .overlay:after {
      visibility: visible;
      color: rgba(255, 255, 255, 0.8); } }
/* サブメニュートグルボタン */
.child-btn {
  position: absolute;
  top: 4px;
  right: 5px;
  height: 44px;
  width: 44px;
  background: rgba(255, 255, 255, 0);
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .child-btn:before, .child-btn:after {
    content: '';
    height: 2px;
    width: 16px;
    display: block;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -8px;
    -moz-transition: .3s;
    transition: .3s; }
  .child-btn:after {
    height: 16px;
    width: 2px;
    margin: -8px 0 0 -1px; }
  .child-open > .child-btn:befor {
    display: none; }
  .child-open > .child-btn:after {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); }
  .child-btn:hover {
    background: rgba(255, 255, 255, 0.2); }
  @media print, screen and (min-width: 769px) {
    .child-btn {
      display: none; }
      .sub-menu .child-btn {
        display: block;
        top: 1px; } }

/* contents                                           
/* --------------------------------------------------- */
.contents-wrap {
  max-width: 1070px;
  display: -webkit-flex;
  display: flex; }
  @media print, screen and (max-width: 768px) {
    .contents-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 2px 4% 25px; } }
  @media print, screen and (min-width: 769px) {
    .contents-wrap {
      margin: 2px auto 25px;
      padding: 0 10px;
      -webkit-justify-content: space-between;
      justify-content: space-between; } }
  .contents-wrap a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .contents-wrap a img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .contents-wrap a:hover img {
    opacity: 0.7; }

.main-contents {
  line-height: 1.8;
  position: relative;
  text-align: left; }
  @media print, screen and (min-width: 769px) {
    .main-contents {
      width: 70.95%; } }
  .main-contents section {
    margin-bottom: 3em; }
    .main-contents section p, .main-contents section ul, .main-contents section ol {
      margin-bottom: 1.5em; }
      .main-contents section p:last-child, .main-contents section ul:last-child, .main-contents section ol:last-child {
        margin-bottom: 0; }
  .main-contents h1, .main-contents h2, .main-contents h3, .main-contents h4, .main-contents h5, .main-contents h6 {
    font-weight: 500;
    line-height: 1.4; }

#sidebar {
  text-align: left;
  line-height: 1.4; }
  @media print, screen and (min-width: 769px) {
    #sidebar {
      width: 26.66%; } }
  #sidebar nav {
    display: block;
    background: url("../img/common/side_bg.png");
    margin-bottom: 1em; }
    @media print, screen and (max-width: 768px) {
      #sidebar nav {
        margin-top: 25px;
        padding: 20px 4%; } }
    @media print, screen and (min-width: 769px) {
      #sidebar nav {
        padding: 30px 20px; } }
  #sidebar h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 1em; }
    @media print, screen and (min-width: 769px) {
      #sidebar h2 {
        font-size: 2.4rem; } }
  #sidebar ul {
    list-style: none; }
  #sidebar li {
    border-bottom: 1px solid #fff; }
    #sidebar li a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 0.5em 0;
      font-size: 1.6rem; }
      @media print, screen and (min-width: 769px) {
        #sidebar li a {
          font-size: 1.8rem; } }
      #sidebar li a:hover {
        opacity: 0.7; }
      #sidebar li a.current {
        cursor: default; }
        #sidebar li a.current:hover {
          opacity: 1; }
    #sidebar li li {
      border-bottom: none;
      padding-left: 1em; }
      #sidebar li li a {
        padding: 0 0 0.5em 0.5em;
        text-indent: -0.5em;
        font-size: 1.4rem; }
        @media print, screen and (min-width: 769px) {
          #sidebar li li a {
            font-size: 1.6rem; } }
        #sidebar li li a:before {
          content: "-"; }
  #sidebar li:last-child {
    border: none; }
  #sidebar p {
    margin-bottom: 1em; }

.breadcrumb {
  background: #eaddd9; }
  .breadcrumb ul {
    padding: 0.7em 2%;
    margin: 0 auto 2em;
    text-align: left; }
    @media print, screen and (min-width: 769px) {
      .breadcrumb ul {
        max-width: 1070px;
        padding: 0.7em 10px; } }
    .breadcrumb ul li {
      color: #5a493f;
      display: inline; }
      .breadcrumb ul li:after {
        content: '>';
        padding: 0 0.5em;
        color: #5a493f; }
      .breadcrumb ul li:last-child:after {
        content: ''; }
    .breadcrumb ul a {
      color: #5a493f; }

/* footer                                           
/* --------------------------------------------------- */
.foot-link {
  line-height: 1.8;
  background: #e6e1d8;
  color: #fff;
  width: 100%; }
  @media print, screen and (max-width: 768px) {
    .foot-link .inner {
      padding: 20px 4%;
      display: block; } }
  @media print, screen and (min-width: 769px) {
    .foot-link .inner {
      max-width: 1020px;
      padding: 50px 10px;
      margin: 0 auto;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between; } }
  @media print, screen and (max-width: 768px) {
    .foot-link a {
      margin-bottom: 10px; } }
  @media print, screen and (min-width: 769px) {
    .foot-link a {
      margin-right: 10px; }
      .foot-link a:last-child {
        margin-right: 0; } }

#footer {
  line-height: 1.8;
  background: #5a493f;
  color: #fff;
  width: 100%; }
  @media print, screen and (max-width: 768px) {
    #footer .inner {
      padding: 20px 4%;
      display: block;
      font-size: 1.3rem; } }
  @media print, screen and (min-width: 769px) {
    #footer .inner {
      max-width: 1050px;
      padding: 50px 10px;
      margin: 0 auto;
      display: -webkit-flex;
      display: flex;
      justify-content: space-around;
      font-size: 1.5rem; } }

.foot-add {
  text-align: center;
  display: inline-block;
  margin: 0 auto 30px; }
  @media print, screen and (min-width: 769px) {
    .foot-add {
      margin: 0;
      width: 53%;
      text-align: left; } }
  .foot-add a {
    color: #fff; }
  .foot-add p {
    margin: 0 0 0.5em; }
  .foot-add .logo {
    margin: 0 0 2em;
    text-align: center; }
    @media print, screen and (min-width: 769px) {
      .foot-add .logo {
        text-align: left; } }

@media print, screen and (max-width: 768px) {
  .foot-nav {
    margin-bottom: 20px;
    text-align: center; } }
@media print, screen and (min-width: 769px) {
  .foot-nav {
    width: 47%;
    text-align: right;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end; } }
.foot-nav li {
  color: #fff;
  margin: 0 0.5em 1em;
  position: relative;
  text-align: left;
  display: inline-block; }
.foot-nav a {
  color: #fff;
  text-decoration: none; }
  .foot-nav a:hover {
    text-decoration: underline; }
.foot-nav small {
  text-align: left;
  display: block; }
  @media print, screen and (max-width: 768px) {
    .foot-nav small {
      margin-top: 30px; } }

#footer
#page-top {
  display: block;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  color: #fff;
  text-decoration: none;
  background: #000; }
  #footer
  #page-top:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid;
    border-color: #fff #fff transparent transparent;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -7px; }

/* Layout                                           
/* --------------------------------------------------- */
/* common */
.flex {
  display: -webkit-flex;
  display: flex; }
  .flex > * {
    margin-bottom: 1.5em; }
  .flex.col2, .flex.col3, .flex.col4 {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    flex-wrap: wrap; }
  .flex.col2 > * {
    width: 48%; }
    .flex.col2 > *:nth-child(odd) {
      margin-right: 4%; }
  .flex.col3 > * {
    width: 32%;
    margin-right: 2%; }
    .flex.col3 > *:nth-child(3n) {
      margin-right: 0; }
  .flex.col4 > * {
    width: 24.25%;
    margin-right: 1%; }
    .flex.col4 > *:nth-child(4n) {
      margin-right: 0; }
  @media print, screen and (max-width: 768px) {
    .flex.spb1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-right: 0; }
      .flex.spb1 > * {
        width: 100%;
        margin: 0 auto 1.5em;
        text-align: center; }
        .flex.spb1 > *:nth-child(odd) {
          margin-right: 0 !important; } }
  @media print, screen and (max-width: 768px) {
    .flex.spb2 > * {
      width: 48%;
      margin-right: 0;
      text-align: center; }
      .flex.spb2 > *:nth-child(odd) {
        margin-right: 4%; } }
  @media print, screen and (max-width: 768px) {
    .flex.spb3 > * {
      width: 32%;
      margin-right: 2%;
      text-align: center; }
      .flex.spb3 > *:nth-child(3n) {
        margin-right: 0; }
      .flex.spb3 > *:nth-child(4n) {
        margin-right: 2%; } }

/* toppage */
.top-topics {
  margin-bottom: 10%; }
  @media print, screen and (min-width: 769px) {
    .top-topics {
      margin-bottom: 75px; } }
  .top-topics .data {
    height: 400px;
    overflow: auto; }
    @media print, screen and (min-width: 769px) {
      .top-topics .data {
        height: 515px; } }
  .top-topics dl {
    text-align: left;
    margin-right: 1em; }
  .top-topics dd {
    margin-bottom: 1.5em; }

@media print, screen and (min-width: 769px) {
  .top-link {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; } }
.top-link a {
  margin-bottom: 10px; }
  @media print, screen and (min-width: 769px) {
    .top-link a {
      margin: 0 10px 0 0;
      width: 235px; }
      .top-link a:last-child {
        margin-right: 0; } }

/* Tosho */
.opac {
  border: 1px solid #5a493f;
  padding: 15px 4%;
  margin-bottom: 2em; }
  @media print, screen and (min-width: 769px) {
    .opac {
      padding: 15px 20px; } }
  .opac legend {
    padding: 1em;
    background: #5a493f;
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    display: block;
    width: 100%;
    margin-bottom: 1em;
    position: relative;
    padding-left: 56px; }
    @media print, screen and (min-width: 769px) {
      .opac legend {
        font-size: 1.8rem; } }
    .opac legend::before {
      content: "";
      background: url("../img/common/icon_search.png") no-repeat;
      background-size: 36px 36px;
      width: 36px;
      height: 36px;
      display: inline-block;
      margin-right: 10px;
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -18px; }
  .opac input[type="text"] {
    border: 1px solid #000;
    width: 235px;
    height: 35px; }
  .opac input[type="submit"], .opac input[type="button"] {
    border: 1px solid #5a493f;
    color: #5a493f;
    font-size: 1.6rem;
    width: 64px;
    height: 35px; }
  .opac .search-area {
    margin-bottom: 1em; }
  .opac #maintext {
    margin-bottom: 1em; }

.page-link {
  margin-bottom: 2em; }
  .page-link ul {
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    flex-wrap: wrap;
    margin: 0 0 2em;
    padding-left: 0 !important;
    list-style: none !important; }
    @media print, screen and (min-width: 769px) {
      .page-link ul {
        margin: 0 -0.5% 2em; } }
  .page-link li {
    width: 100%;
    margin-bottom: 5px; }
    @media print, screen and (min-width: 769px) {
      .page-link li {
        width: 32.33%;
        margin: 0 0.5% 0.5em; } }
  .page-link a {
    display: block;
    width: 100%;
    text-align: center;
    color: #5cc2d0;
    border: 2px solid #5cc2d0;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.3em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media print, screen and (min-width: 769px) {
      .page-link a {
        font-size: 1.8rem; } }
    .page-link a:hover {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      color: #fff;
      background: #5cc2d0; }
  @media print, screen and (min-width: 769px) {
    .page-link.c4 li {
      width: 24%; } }
  @media print, screen and (min-width: 769px) {
    .page-link.c5 li {
      width: 19%; } }
  @media print, screen and (min-width: 769px) {
    .page-link.c6 li {
      width: 15.66%; } }

.frame01 {
  border: 1px solid #5cc2d0;
  padding: 1.5em;
  margin-bottom: 1.5em; }

  .frame02 {
    border: 1px solid #5a493f;
    padding: 1.5em;
    margin-bottom: 1.5em; }

  .frame01 h3 {
    color: #5cc2d0;
    font-size: 1.6rem;
    margin-bottom: 0.5em; }
    @media print, screen and (min-width: 769px) {
      .frame01 h3 {
        font-size: 1.8rem; } }

/* Parts                                         
/* --------------------------------------------------- */
/* タイトル */
.h01 {
  margin: 0 0 3em;
  padding-left: 1.5em;
  color: #000;
  font-size: 1.8rem;
  position: relative;
  height: 100px;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end; }
  @media print, screen and (min-width: 769px) {
    .h01 {
      height: 125px; } }
  .h01::before {
    content: "";
    display: block;
    height: 100%;
    width: 9px;
    background: #5a493f;
    position: absolute;
    top: 0;
    left: 0; }
  .h01::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #000;
    position: absolute;
    bottom: -10px;
    left: 0; }
  .h01 .list {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    color: #000;
    border: 1px solid #000;
    padding: 0.5em 1.5em;
    font-weight: 300;
    line-height: 1; }
    .h01 .list:hover {
      color: #fff;
      background: #5a493f; }

.h02 {
  color: #fff;
  background: #5a493f;
  font-size: 1.6rem;
  margin-bottom: 1em;
  padding: 1.5em; }
  @media print, screen and (min-width: 769px) {
    .h02 {
      font-size: 1.8rem; } }

.h03 {
  margin-bottom: 1em;
  font-size: 1.6rem;
  padding: 0.5em;
  background: #e1d4d0;
  color: #5a493f;
  border: 1px solid #5a493f; }
  @media print, screen and (min-width: 769px) {
    .h03 {
      font-size: 1.8rem; } }

.h04 {
  margin: 0 0 1em;
  font-size: 1.6rem;
  padding: 5px 0 5px 20px;
  color: #5cc2d0;
  border-bottom: 1px solid #5cc2d0;
  position: relative; }
  @media print, screen and (min-width: 769px) {
    .h04 {
      font-size: 1.8rem; } }
  .h04::after {
    content: "";
    display: block;
    height: 16px;
    width: 10px;
    background: #5cc2d0;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -8px; }

.btn01 {
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  position: relative;
  background: #fff;
  padding: 0.5em 25px 0.5em 0.5em;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .btn01::after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin: auto;
    margin-top: -9px;
    content: "";
    vertical-align: middle;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .btn01.v1 {
    color: #5cc2d0;
    border: 2px solid #5cc2d0;
    font-size: 1.6rem;
    text-align: left;
    min-height: 100px; }
    @media print, screen and (min-width: 769px) {
      .btn01.v1 {
        font-size: 1.8rem;
        min-height: 140px; } }
    .btn01.v1::after {
      border-top: 2px solid #5cc2d0;
      border-right: 2px solid #5cc2d0; }
    .btn01.v1::before {
      background: #5cc2d0; }
    .btn01.v1:hover::after {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff; }
  .btn01.v2 {
    color: #5a493f;
    border: 1px solid #5a493f;
    text-align: center;
    height: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center; }
    .btn01.v2 em {
      display: block;
      font-size: 1.8rem; }
      @media print, screen and (min-width: 769px) {
        .btn01.v2 em {
          font-size: 2rem; } }
    @media print, screen and (min-width: 769px) {
      .btn01.v2 {
        width: 235px;
        height: 110px; } }
    .btn01.v2::after {
      border-top: 2px solid #5a493f;
      border-right: 2px solid #5a493f; }
    .btn01.v2::before {
      background: #5a493f; }
    .btn01.v2:hover::after {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff; }
  .btn01.v3 {
    color: #fff;
    background: #5a493f;
    border: 1px solid #fff;
    max-width: 345px;
    padding: 1em 25px 1em 1em; }
    @media print, screen and (max-width: 768px) {
      .btn01.v3 {
        margin: 0 auto; } }
    .btn01.v3::after {
      border-top: 1px solid #fff;
      border-right: 1px solid #fff; }
    .btn01.v3::before {
      background: #fff; }
    .btn01.v3:hover, .btn01.v3:focus, .btn01.v3:active {
      color: #5a493f; }
    .btn01.v3:hover::after {
      border-top: 1px solid #5a493f;
      border-right: 1px solid #5a493f; }
  .btn01.v4 {
    color: #274977;
    border: 1px solid #274977;
    padding: 0.5em 3em 0.5em 1em;
    font-size: 1.4rem;
    display: inline-block;
    width: auto; }
    .btn01.v4::after {
      font-size: 1.6rem;
      margin-top: -5px;
      width: 10px;
      height: 10px;
      border-top: 1px solid #274977;
      border-right: 1px solid #274977; }
    .btn01.v4::before {
      background: #274977; }
    .btn01.v4:hover::after {
      border-top: 1px solid #fff;
      border-right: 1px solid #fff; }
  .btn01.v5 {
    color: #fff;
    background: #5cc2d0;
    border: 1px solid #5cc2d0;
    font-size: 1.6rem;
    padding: 0.7em 1em;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0 auto; }
    @media print, screen and (min-width: 769px) {
      .btn01.v5 {
        font-size: 1.8rem;
        max-width: 570px; } }
    .btn01.v5::after {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff; }
    .btn01.v5::before {
      background: #fff; }
    .btn01.v5:hover, .btn01.v5:focus, .btn01.v5:active {
      color: #5cc2d0; }
    .btn01.v5:hover::after {
      border-top: 2px solid #5cc2d0;
      border-right: 2px solid #5cc2d0; }
  .btn01.v6 {
    color: #5cc2d0;
    border: 1px solid #5cc2d0;
    text-align: left;
    padding-left: 1em; }
    @media print, screen and (min-width: 769px) {
      .btn01.v6 {
        max-width: 390px; } }
    .btn01.v6::after {
      border-top: 1px solid #5cc2d0;
      border-right: 1px solid #5cc2d0; }
    .btn01.v6::before {
      background: #5cc2d0; }
    .btn01.v6:hover::after {
      border-top: 1px solid #fff;
      border-right: 1px solid #fff; }
  .btn01::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .btn01:hover, .btn01:focus, .btn01:active {
    color: #fff;
    text-decoration: none; }
  .btn01:hover:before, .btn01:focus:before, .btn01:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

.btn02 {
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #fff !important;
  background: #5cc2d0;
  padding: 0 1%;
  height: 120px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  @media print, screen and (max-width: 768px) {
    .btn02 {
      margin-top: 1px; } }
  @media print, screen and (min-width: 769px) {
    .btn02 {
      height: 200px;
      width: 320px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .btn02::after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin: auto;
    margin-top: -14px;
    content: "";
    vertical-align: middle;
    width: 28px;
    height: 28px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff; }
    @media print, screen and (min-width: 769px) {
      .btn02::after {
        right: 20px; } }
  .btn02::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .btn02:hover, .btn02:focus, .btn02:active {
    color: #5cc2d0 !important;
    text-decoration: none; }
  .btn02:hover::after {
    border-top: 1px solid #5cc2d0;
    border-right: 1px solid #5cc2d0; }
  .btn02:hover:before, .btn02:focus:before, .btn02:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .btn02 img {
    margin: 0 10px 0 0; }
    @media print, screen and (min-width: 769px) {
      .btn02 img {
        margin: 0 0 10px;
        right: 20px; } }
  .btn02 .img-a {
    display: block; }
  .btn02 .img-b {
    display: none; }
  .btn02:hover .img-a {
    display: none; }
  .btn02:hover .img-b {
    display: block; }

.btn03 {
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #fff;
  padding: 0.5em 25px 0.5em 1em;
  width: 100%;
  font-size: 2rem;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  @media print, screen and (min-width: 769px) {
    .btn03 {
      font-size: 2.8rem; } }
  .btn03::after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin: auto;
    margin-top: -9px;
    content: "";
    vertical-align: middle;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff; }
  .btn03.v1 {
    background: #5e73d0;
    border: 1px solid #5e73d0; }
    .btn03.v1::before {
      background: #fff; }
    .btn03.v1:hover, .btn03.v1:focus, .btn03.v1:active {
      color: #5e73d0; }
    .btn03.v1:hover::after {
      border-top: 2px solid #5e73d0;
      border-right: 2px solid #5e73d0; }
  .btn03.v2 {
    background: #50bda2;
    border: 1px solid #50bda2; }
    .btn03.v2::before {
      background: #fff; }
    .btn03.v2:hover, .btn03.v2:focus, .btn03.v2:active {
      color: #50bda2; }
    .btn03.v2:hover::after {
      border-top: 2px solid #50bda2;
      border-right: 2px solid #50bda2; }
  .btn03.v3 {
    background: #d96395;
    border: 1px solid #d96395; }
    .btn03.v3::before {
      background: #fff; }
    .btn03.v3:hover, .btn03.v3:focus, .btn03.v3:active {
      color: #d96395; }
    .btn03.v3:hover::after {
      border-top: 2px solid #d96395;
      border-right: 2px solid #d96395; }
  .btn03::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .btn03:hover, .btn03:focus, .btn03:active {
    text-decoration: none; }
  .btn03:visited {
    color: #fff; }
  .btn03:hover:before, .btn03:focus:before, .btn03:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

/* Table */
.table01 {
  width: 100%;
  border-collapse: separate;
  border-top: 1px solid #000; }
  .table01 th, .table01 td {
    padding: 2em 1em; }
    @media print, screen and (max-width: 768px) {
      .table01 th, .table01 td {
        display: block; } }
    @media print, screen and (min-width: 769px) {
      .table01 th, .table01 td {
        border-bottom: 1px solid #000; } }
  .table01 th {
    background: #5cc2d0;
    font-weight: 300;
    vertical-align: top; }
  .table01 td {
    background: #fff;
    vertical-align: middle; }
    @media print, screen and (max-width: 768px) {
      .table01 td {
        border-bottom: 1px solid #000;
        margin-bottom: 1em; } }
  .table01 .contact {
    border: 1px solid #000;
    padding: 1.5em;
    margin-bottom: 1.5em;
    text-align: center; }
    .table01 .contact p {
      margin-bottom: 1em; }
    .table01 .contact .mail {
      display: inline-block;
      font-size: 1.8rem;
      position: relative;
      padding-left: 35px;
      color: #000; }
      .table01 .contact .mail::before {
        content: "";
        background: url("../img/common/icon_mail.png") no-repeat;
        background-size: 25px 19px;
        width: 25px;
        height: 19px;
        display: inline-block;
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9px; }
    .table01 .contact .tel {
      display: inline-block;
      font-size: 2.4rem;
      margin-bottom: 0.3em;
      position: relative;
      padding-left: 28px; }
      .table01 .contact .tel::before {
        content: "";
        background: url("../img/common/icon_tel.png") no-repeat;
        background-size: 18px 22px;
        width: 18px;
        height: 22px;
        display: inline-block;
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -11px; }
    .table01 .contact .time {
      margin-bottom: 0; }

.table02 {
  width: 100%;
  border-collapse: separate;
  border-top: 1px solid #5cc2d0;
  border-top: 1px solid #5cc2d0; }
  .table02 th, .table02 td {
    padding: 2em 1em;
    vertical-align: top; }
    @media print, screen and (max-width: 768px) {
      .table02 th, .table02 td {
        display: block; } }
    @media print, screen and (min-width: 769px) {
      .table02 th, .table02 td {
        border-bottom: 1px solid #5cc2d0; } }
  .table02 th {
    color: #fff;
    background: #5cc2d0; }
    @media print, screen and (min-width: 769px) {
      .table02 th {
        border-bottom: 1px solid #fff; } }
  .table02 td {
    background: #fff; }
    @media print, screen and (max-width: 768px) {
      .table02 td {
        border-bottom: 1px solid #5cc2d0;
        margin-bottom: 1em; } }
  .table02 tr:last-child th {
    border-bottom: 1px solid #5cc2d0; }

/* ul */
.main-contents ul {
  list-style: disc;
  padding-left: 1.5em;
  text-indent: 0; }
  .main-contents ul.ul05, .main-contents ul.ul10, .main-contents ul.ul15, .main-contents ul.ul20, .main-contents ul.ul30 {
    list-style: none;
    padding-left: 0; }
  .main-contents ul ul {
    list-style: circle; }
.main-contents ol {
  counter-reset: number 0; }
  .main-contents ol > li {
    margin-left: 1.5em; }
    .main-contents ol > li:before {
      counter-increment: number 1;
      content: "" counter(number) ". ";
      display: inline-block;
      margin-left: -1.5em;
      width: 1.5em; }
  .main-contents ol.-n- > li {
    margin-left: 1.7em;
    counter-increment: cnt; }
    .main-contents ol.-n- > li:before {
      content: "(" counter(cnt) ") ";
      margin-left: -1.7em;
      width: 1.7em; }
  .main-contents ol.a- > li {
    margin-left: 1.2em; }
    .main-contents ol.a- > li:before {
      content: "" counter(number,lower-alpha) ") ";
      margin-left: -1.2em;
      width: 1.2em; }
  .main-contents ol.roman > li {
    margin-left: 1.2em; }
    .main-contents ol.roman > li:before {
      content: "" counter(number,lower-roman) ". ";
      margin-left: -1.2em;
      width: 1.2em; }
  .main-contents ol.n-n {
    counter-reset: item; }
    .main-contents ol.n-n > li:before {
      content: "" counters(item,"-") ". ";
      counter-increment: item; }
    .main-contents ol.n-n > li .n-n > li {
      margin-left: 2.2em; }
      .main-contents ol.n-n > li .n-n > li:before {
        margin-left: -2.2em;
        width: 2.2em; }
.main-contents .level1 > li {
  margin-bottom: 1.5em;
  font-weight: 500;
  color: #5cc2d0; }
  .main-contents .level1 > li:last-child {
    margin-bottom: 0; }
  .main-contents .level1 > li li, .main-contents .level1 > li p {
    font-weight: 300;
    color: #000; }
.main-contents .ul05 > li {
  padding-left: 0.5em;
  text-indent: -0.5em; }
.main-contents .ul10 > li {
  padding-left: 1em;
  text-indent: -1em; }
.main-contents .ul15 > li {
  padding-left: 1.5em;
  text-indent: -1.5em; }
.main-contents .ul15.limb > li {
  margin-bottom: 1.5em; }
.main-contents .ul20 > li {
  padding-left: 2em;
  text-indent: -2em; }
.main-contents .ul30 > li {
  padding-left: 3em;
  text-indent: -3em; }

/* iframe */
.iframe {
  text-align: center; }
  @media print, screen and (max-width: 768px) {
    .iframe {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden; } }

@media print, screen and (max-width: 768px) {
  .iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; } }

@media only screen and (max-width: 768px) {
  .pc-display {
    display: none; }

  .sp-display {
    display: block; } }
@media only screen and (min-width: 769px) {
  .pc-display {
    display: block; }

  .sp-display {
    display: none; } }
/* Other */
.mt1 {
  margin-top: 1em !important; }

.mt2 {
  margin-top: 2em !important; }

.mt3 {
  margin-top: 3em !important; }

.mb0 {
  margin-bottom: 0 !important; }

.mb05 {
  margin-bottom: 0.5em !important; }

.mb1 {
  margin-bottom: 1em !important; }

.mb15 {
  margin-bottom: 1.5em !important; }

.mb2 {
  margin-bottom: 2em !important; }

.mb3 {
  margin-bottom: 3em !important; }

.ml1 {
  margin-left: 1em !important; }

.ml2 {
  margin-left: 2em !important; }

.ml3 {
  margin-left: 3em !important; }

.mr1 {
  margin-right: 1em !important; }

.mr2 {
  margin-right: 2em !important; }

.mr3 {
  margin-right: 3em !important; }

.pl1 {
  padding-left: 1em !important; }

.pl2 {
  padding-left: 2em !important; }

.pl3 {
  padding-left: 3em !important; }

.pr1 {
  padding-right: 1em !important; }

.pr2 {
  padding-right: 2em !important; }

.pr3 {
  padding-right: 3em !important; }

.ml4ps {
  margin-left: 4% !important; }

.mr4ps {
  margin-right: 4% !important; }

.ta-l {
  text-align: left !important; }

.ta-r {
  text-align: right !important; }

.ta-c {
  text-align: center !important; }

.fc1 {
  color: #ff0101 !important; }

.fc2 {
  color: #5cc2d0 !important; }

.fs-s {
  font-size: 94% !important; }

.fs-ss {
  font-size: 84% !important; }

.Kerning {
  letter-spacing: -0.8em; }

.strong, strong {
  font-weight: 500 !important; }

hr {
  border-top: 1px solid #e1d4d0;
  margin: 3em 0; }

.code {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #efefef;
  padding: 1em;
  white-space: pre-wrap; }

/* clearfix */
.interview-content .layout:after,
.inner section:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  line-height: 0;
  visibility: hidden;
  font-size: 0; }

/* Sample */
.hsample1 {
  color: #fff;
  background: #ff0000;
  font-size: 1.8rem;
  margin-bottom: 10px !important;
  padding: 0.5em 1em; }
  @media print, screen and (min-width: 769px) {
    .hsample1 {
      font-size: 2.4rem; } }

.hsample2 {
  color: #ff0000;
  border-top: 5px solid #ff0000;
  background: #ffe8e8;
  margin: 1em 0 0;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 10px !important;
  padding: 0.5em; }
  @media print, screen and (min-width: 769px) {
    .hsample2 {
      font-size: 1.8rem; } }

hr.sample {
  border-top: 3px double #ff0000;
  margin: 0 0 3em; }

  .slide-enter-active {
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  .slide-leave-active {
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .slide-enter-to,
  .slide-leave {
    max-height: 600px;
    overflow: hidden;
  }

  .slide-enter,
  .slide-leave-to {
    overflow: hidden;
    max-height: 0;
  }